name: Release

on:
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}

      - name: Create Release
        uses: wgtechlabs/release-build-flow-action@v1.6.0
        with:
          github-token: ${{ secrets.GH_PAT }}
